#heading {
  color: red;
}
.header-container {
  background-color: rgb(174, 216, 215);
  display: flex;
  justify-content: space-between;
}
.logo-container {
  margin: 20px;
}
.logo {
  width: 50px;
}
.menu-container > ul {
  display: flex;
  padding: 0px 20px;
}

.menu-container > ul > li {
  display: flex;
  padding: 10px;
  margin: 10px;
}

/* .body{
  margin: 5px;
} */

.res-card {
  background-color: #f0f0f0;
  padding: 5px;
  width: 200px;
  margin: 8px;
}

.res-card:hover {

  border: 1px solid black;
  box-shadow: #f0f0f0;
  cursor: pointer ;
} 

.res-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} 

.cart-img {
  width: 190px;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;;
}

.shimmer-container{
  display: flex;
  justify-content: space-evenly ;
  flex-wrap: wrap;
}

.shimmer-card{
  background-color: #f0f0f0;
  width: 200px;
  height: 350px;
  margin: 10px;
}

.filter{
  display: flex;
}

.search-box{
  margin: 10px;
}

.menu-items{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: max-content;
    margin: 0px auto;
}

.menu-images{
  width: 150px;
  height: 150px;;
}

.veg-img{
  width: 20px;
  height: 20px;
}

.non-veg-img{
  width: 35px;
  height: 35px;
}
